.Schedule {
    width: 81.5vw;
    height: 25vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    overflow-y: scroll;
}

.content-table {
    border-collapse: collapse;
    margin: 0px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #fff;
    color: #000;
    text-align: left;
    font-weight: bold;
}

tbody tr {
    padding: 10px 0;
}

.content-table th,
.content-table td {
    padding: 15px;
    width: auto;
    gap: 5px;
    align-items: center;
}

.content-table thead th {
    text-align: center;
}

.content-table tbody {
    gap: 10px;
}

.content-table tbody tr {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #fff;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: start;
    padding: 20px 0px;
    border-top: 1px solid #C2CFE0;
    border-bottom: 1px solid #C2CFE0;
    margin: 5px 0;
}

.headerTable {
    border-bottom: none;
    border-top: none;
    padding: 0.1vw 0;
}

.Schedule .headerTable p {
    font-weight: 700;
    color: black;
    font-size: .9vw;
}

.table p {
    text-align: start;
    color: #707683;
    font-size: .8vw;
}

.table .tableTextMax {
    width: 19.792vw;
    display: flex;
    align-items: center;
    gap: 5px;
}

.table .tableTextMin {
    max-width: 3.125vw;
}

.tabletextRoom p {
    width: 50%;
    padding: 2px ;
    background-color: #33A9FF;
    color: #fff;
    border-radius: 5px;
}

.tableTextHour p {
    width: 78%;
    padding: 2px;
    background-color: #FEEEED;
    color: #F7685B;
    border-radius: 0.26vw;
    display: flex;
    align-items: center;
    gap: 0.26vw;
}

.tableTextUser {
    display: flex;
    align-items: center;
    gap: 0.26vw;
}

.tableTextGroup {
    display: flex;
    align-items: center;
    gap: 0.26vw;
}

.tableTextUsers {
    display: flex;
    align-items: center;
    gap: 0.26vw;
}