.StudentsNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35.5px 0;
    font-family: "Poppins", sans-serif;
}

.LeftStudNav {
    display: flex;
    padding: 0 20px;
    gap: 24px;
}

.RightStudNav {
    display: flex;
    padding: 0 20px;
    gap: 10px;
}

.RightStudNav button {
    height: 32px;
    padding: 7.5px 20px;
    border: 1px solid #005EEB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5px;
    outline: none;
    background: none;
    color: #005EEB;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    transition: .3s all ease;
    cursor: pointer;
}

.RightStudNav button:hover {
    background-color: #E4F4FD;
}

.RightStudNav button span {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#Individual {
    background-color: #005EEB;
    color: white;
}

#dot {
    width: 32px;
    height: 32px;
    padding: 0;
    font-size: 16px;
    color: #005EEB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UserProfilRight {
    position: absolute;
    top: 0;
    right: 0;
}

.ButtonBack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #90A0B7;
    cursor: pointer;
    transition: .3s ease;
}

.ButtonBack button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: none;
    font-size: 15px;
    color: #90A0B7;
    cursor: pointer;
}

.ButtonBack:hover {
    border: 1px solid #000;
}

.ButtonBack:hover button {
    color: #000;
}

.ButtonNavigationStud {
    display: flex;
}

.ButtonNavigationStud button {
    width: auto;
    height: 36px;
    border: none;
    border-bottom: 2px solid #90A0B7;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #90A0B7;
    cursor: pointer;
    transition: .3s ease all;
}

.ButtonNavigationStud button.active {
    color: #005EEB;
    border-bottom: 2px solid #005EEB;
}

.ButtonNavigationStud button.active:hover {
    color: #005EEB;
    border-bottom: 2px solid #005EEB;
}

.ButtonNavigationStud button:hover {
    color: black;
    border-bottom: 2px solid #000;
}

#Profile {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Lesson {
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Finance {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#History {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile {
    display: flex;
    flex-direction: column;
    padding: 0 20px
}

.USerProfileOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.UserProfile {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    height: 204px;
    background-image: url(./../../Assets/Clients/Frame.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    padding: 0 18px 0 55px;
    overflow: hidden;
}

.UserProfileLeft {
    display: flex;
    align-items: center;
    gap: 14px;
}

.UserProfileAvatars {
    width: 86px;
    height: 86px;
    overflow: hidden;
    border-radius: 32px;
}

.UserProfileAvatars img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.UserProfileNaming {
    display: flex;
    flex-direction: column;
}

.UserProfileNaming p,
.UserProfileNaming h2 {
    padding: 0;
    margin: 0;
}

.UserProfileNaming h2 {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 48.6px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.UserProfileNaming p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.UserProfileStatus {
    display: flex;
    gap: 9px;
}

.UserProfileStatus button {
    outline: none;
    border: none;
    padding: 1.5px 6px;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #334D6E;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}


#Active {
    background-color: #2ED47A;
    color: #FFFFFF;
}

.UserProfileCard {
    position: relative;
    width: 237px;
    height: 95px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff;
    padding: 16px 16px 16px 12px;
    border-radius: 13px;
    background-color: #00000015;
    box-shadow: 0px 0px 4.7px 0px #00000040;
    background-image: url(./../../Assets//Clients/Mask\ group.png);
    overflow: hidden;
}

.bguserprofilcard {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.253);
}

.bgimage1 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.bgimage2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.bgimage2 img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.UserTextProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 18px;
}

.CardId {
    width: auto;
    height: auto;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.CardId h2 {
    width: auto;
    height: 20px;
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    line-height: 1%;
    font-family: "Poppins", sans-serif;
}

.CardId p {
    color: #ffffff;
    font-size: 10px;
    font-weight: 500;
    line-height: 13.5px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.CardBalance {
    position: relative;
    z-index: 2;
    font-family: "Poppins", sans-serif;
}

.CardBalance h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.75px;
    letter-spacing: 1%;
    color: #ffffff;
}

.CardBalance p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #ffffff;
}

.UserPointsUp {
    width: 292px;
    height: 72px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    gap: 14px;
    border-radius: 10px;
    padding: 12px 14px 12px 14px;
}

.UserPointUpNav {
    width: 139px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 11px;
}

.UserPointUpNav p {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.UserPointsBox {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    gap: 11px;
    width: 147px;
}

.UserPointsBox p {
    font-size: 10px;
    line-height: 13.5px;
    font-weight: 400;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.PointsAva {
    width: 40;
    height: 40px;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Pointss {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.PointsText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.PointsText span {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    color: #192A3E;
}

.PointsText p {
    font-size: 10px;
    font-weight: 500;
    line-height: 13.5px;
    letter-spacing: 1%;
    color: #90A0B7;
    font-family: "Poppins", sans-serif;
}

.Average {
    display: flex;
    align-items: center;
    gap: 4px;
}

.AverageAva {
    width: 40px;
    height: 40px;
    border-radius: 13px;
    overflow: hidden;
}

.AverageAva img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.AverageText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.AverageText span {
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.AverageText p {
    font-weight: 500;
    font-size: 10px;
    line-height: 13.5px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.UserPointsQR {
    width: 294px;
    height: 71px;
    padding: 12.5px 13px 12.5px 13px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    gap: 8px;
}

.UserPoints {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.Qrbox {
    width: 70px;
    height: 70px;
    border: 1px solid #E6EAEF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.QrCopy {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.QrCopy p {
    color: #192A3E;
    font-size: 12px;
    line-height: 16.2px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.QrCopy span {
    color: #33A9FF;
}

.QrTextbox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.QrAbout {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 10px;
    line-height: 13.5px;
    font-weight: 400;
    color: #33A9FF;
    font-family: "Poppins", sans-serif;
}

.StatsCard {
    display: flex;
    align-items: center;
    gap: 24px;
}

.Statsbox {
    margin-top: 24px;
    width: 135px;
    height: 84px;
    border-radius: 10px;
    padding: 12px 37px 8px 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    gap: 6px;
    transition: .3s ease all;
}

.boardStats {
    position: absolute;
    top: 12px;
    left: 12px;
}

.boardStats span {
    color: #90A0B7;
    font-size: 16px;
    transition: .3s ease all;
}


.StatsBoxUp {
    display: flex;
    align-items: center;
    height: 20px;
}

.StatBoxText {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PropStats {
    width: 32px;
    height: 5px;
    border-radius: 10px;
    background-color: #F1F4F8;
}

.StatsBoxUp p {
    font-size: 10px;
    font-weight: 400;
    line-height: 13.5px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    color: #90A0B7;
    transition: .3s ease all;
}

.StatBoxText h2 {
    height: 30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.75px;
    letter-spacing: 1%;
    color: #323C47;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.StatBoxText h2 p {
    height: 20px;
    display: flex;
    align-items: flex-end;
    font-size: 14px;
    font-weight: 700;
}

.StatBoxText p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #323C47;
}

#Amount {
    width: 209px;
    height: 84px;
    padding: 12px 0px 8px 0px;
}

#Debt h2,
#Debt h2 p {
    color: #F7685B;
}

.Statsbox:hover {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.Statsbox:hover .boardStats span {
    color: #005EEB;
}

.Statsbox:hover .StatsBoxUp p {
    color: #000;
}

.ContactsLeadImfo {
    margin-top: 24px;
    display: flex;
    gap: 24px;
}

.Contacts,
.LeadInfo {
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 145px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 25px 20px;
}


.ContactContant,
.LeacContant {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 13px;
}

.ContactsLeft {
    width: 242px;
    height: 116px;
}

.ContactsRight {
    width: 212px;
    height: 116px;
}

.ContactsTitle {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    gap: 5px;
}

.ContactsTitle span {
    color: #90A0B7;
    font-size: 16px;
}

.ContactsTitle p {
    font-size: 12px;
    font-weight: 600;
}

.ContactsLeft,
.ContactsRight {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.ContactLeftPhone,
.ContactLeftSecondary,
.ContactLeftBirthday,
.ContactLeftGender,
.ContactsRightAdress,
.ContactsRightTelegram,
.ContactsRightInstagram,
.ContactsRightEmail {
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
}

.ContactLeftPhone h3,
.ContactLeftSecondary h3,
.ContactLeftBirthday h3,
.ContactLeftGender h3,
.ContactsRightAdress h3,
.ContactsRightTelegram h3,
.ContactsRightInstagram h3,
.ContactsRightEmail h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #192A3E;
}

.ContactLeftPhone p,
.ContactLeftSecondary p,
.ContactLeftBirthday p,
.ContactLeftGender p,
.ContactsRightAdress p,
.ContactsRightTelegram p,
.ContactsRightInstagram p,
.ContactsRightEmail p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #192A3E;
}

#InfoWeb {
    width: 60px;
    height: 19px;
    border-radius: 4px;
    border: 0.5px solid #2ED47A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2ED47A;
}

.CommentsPayHistory {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.UserComments {
    width: 520px;
    height: 500px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #ffffff;
}


.UserCommentContant {
    width: 501px;
    height: 372px;
    padding: 12px 10px 10px 10px;
    border: 1px solid #EBEFF5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.UserComTitle {
    display: flex;
    gap: 4px;
}

.UserComTitle p {
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}

.UserComTitle span {
    font-size: 15px;
    color: #90A0B7;
}

.UserCommentBox {
    width: 453px;
    height: 76px;
    border-radius: 8px;
    border: 1px solid #EBEFF5;
    padding-left: 12.69px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 8.65px;
}

.UserComText {
    display: flex;
    flex-direction: column;
}

.UserComUp {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.UserComUp p {
    color: #334D6E;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    letter-spacing: 1%;
}

.UserComUp span {
    font-size: 16px;
    color: #C2CFE0;
}

.USerComDuwn {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.USerComDuwn p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    color: #707683;
}

.USerComDuwn span {
    font-size: 10px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    line-height: 13.5px;
    letter-spacing: 1%;
    color: #C2CFE0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.UserComText {
    border-left: 1px solid #90A0B7;
    padding-left: 8.31px;
}

.CommentSend {
    display: flex;
    align-items: flex-start; /* Изменено для выравнивания textarea и кнопки */
    width: 100%;
    height: 56px;
    overflow-x: hidden; /* Убирает горизонтальную прокрутку */
  }
  
  .CommentSend textarea {
    width: 448px;
    height: 100%; /* Задайте нужную высоту */
    border-radius: 8px;
    border: 1px solid #EBEFF5;
    outline: none;
    font-family: "Poppins", sans-serif;
    padding: 8px; /* Добавляем внутренние отступы */
    box-sizing: border-box; /* Учитывает padding и border в ширине */
    resize: none;   /* Переносит длинные слова */
  }
  
  .CommentSend .submit { 
    height: 100%;
    background:none;
    color: #90A0B7;
    border: none;
    border-radius: 8px; /* Совпадает с радиусом бордера textarea */
    cursor: pointer;
    margin-left: 10px; /* Отступ слева для кнопки */
    box-sizing: border-box; /* Учитывает padding и border в ширине */
    font-size: 25px;
    display: flex;
    align-items: center;
  }
   

  .PayHistory {
    width: 520px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    overflow-y: auto;
  }

  .PayHistoryContant {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }

  .PayHistoryTitle {
    display: flex;
  }

  .PayHistoryTitle p{
    font-size: 12px;
    font-weight: 600;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #192A3E;
    font-family: "Poppins", sans-serif;
  }

  #Transaction {
    width: 110px;
    height: 16px;
    text-align: start;
    margin-right: 17px;
  }

  #Amountp {
    width: 94px;
    height: 16px;
    text-align: start;
  }

  #TypeP {
    width: 71px;
    height: 16px;
    text-align: start;
    margin-right: 2px;
  }

  #CourseP {
    width: 108px;
    height: 16px;
    text-align: start;
    margin-right: 2px;
  }

  #DateP {
    width: 62px;
    height: 16px;
    text-align: start;
  }

  .PayContant {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
    gap: 12px;
  }

  .PayBox {
    width: 480px;
    height: 40px;
    border: 1px solid #EBEFF5;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .Transaction {
    display: flex;
    align-items:center;
    gap: 11.6px;
  }

  .Transaction span {
    font-size: 20px;
    color:#F7685B;
  }

  .Transaction p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #192A3E;
    font-family: "Poppins", sans-serif;
    width: 84.41px;
  }

  .Abount {
    display: flex;
    align-items:center;
  }

  .Abount p {
    width: 98px;
    font-size: 12px;
    font-weight: 500;
    color: #192A3E;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
  }

  .TypeP {
    display: flex;
    align-items: center;
  }

  .TypeP p{
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    color: #192A3E;
    width: 71px;
  }

  .Cource {
    display: flex;
    align-items: center;
  }

  .Cource p {
    font-size: 12px;
    font-weight: 500;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    color: #192A3E;
    width: 108px;
  }

  .DateP {
    display: flex;
    align-items: center;
    width: 89px;
    justify-content: space-between;
  }

  .DateP span {
    font-size: 15px;
    color: #90A0B7;
  }

  .DateP p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: 1%;
    color: #192A3E;
    font-family: "Poppins", sans-serif;
  }

  #PayCheck {
    color: #2ED47A;
  }