@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;  
    border-bottom: .1vw solid #EBEFF2;
    border-left: .1vw solid #EBEFF2;
    font-family: "Poppins", sans-serif;
}

.BranchSelect {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2vw;
}

.BranchButtonDrop button {
    border: none;
    outline: none;
    background: none;
    color: #334D6E;
    display: flex;
    align-items:center;
    cursor: pointer;
    gap: .3vw;
    font-weight: 600;
    font-size: 1vw;
    position: relative;
    letter-spacing: 0.2px;
}

.BranchSelectOption {
    width: 8.5vw;
    height: 4.5vw;
    position: absolute;
    top: 2vw;
    left: 1.5vw;
    display: flex;
    flex-direction: column;  
    background-color:white;
    box-shadow:0 0 .5vw rgba(0, 0, 0, 0.178);
    border-radius:.5vw;
}

.DropDownNavButton {
    border: none;
    outline: none;
    background: none;
    display: flex; 
    align-items:center;
    color: #90A0B7;
    width: 100%;
    height: 1.5vw;
    padding: .6vw;
    justify-content: space-between;
    cursor: pointer;
    font-size: .7vw;
}

.DropDownNavButton:hover {
    background-color: #ECF7FF;
}

.DropDownNavButton .checkButton {
    display: none;
}

.DropDownNavButton.activ {
    color:#005EEB;
    font-size: .6vw;
    background-color: #ECF7FF;
}
 
.DropDownNavButton.activ .checkButton {
    display: flex;
    font-size: 1vw;
}

.NavButtonBox {
    display: flex;
    align-items: center;
    padding: 0 1vw;
    gap: 1vw;
}

.GoPlus {
    border: none;
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    font-size: 22px;
    border-radius:.3vw;
    background-color: #005EEB;
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
}

.GoPlus:hover {
    color: #005EEB;
    border: .1vw solid #005EEB;
    background-color: #fff;
}

.HiLang,.Piclock, .BsArrows {
    width: 33px;
    height: 33px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background: none;
    outline: none;
    color:#C2CFE0;
    cursor: pointer;
    transition: all .5s ease;
}

.Notification {
    width: 33px;
    height: 33px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items:center;
    border: none;
    background: none;
    outline: none;
    color:#C2CFE0;
    cursor: pointer;
    transition: all .5s ease;
}

.HiLang:hover,.Piclock:hover, .BsArrows:hover, .Notification:hover {
    color: #005EEB;
}

.IoSearch {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 245px;
    height: 40px;
    border-radius:.5vw;
    border: .1vw solid #C2CFE04F;
    background: none;
    font-size: .8vw;
    color:#90A0B7;
    gap: 1vw;
    cursor: pointer;
    background: #F3F4F7;
    transform: translateX(-100px);
}

.Navprofil {
    width: auto;
    height: 90%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 15px;
    border-left: 2px solid #EBEFF2;
}

.Navprofil img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.profilInfo_lastname {
    color: #334D6E;
    padding: 0;
    margin: 0;
}

.profilInfo_frstname {
    color: #90A0B7;
    padding: 0;
    margin: 0;
}