@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.LeadsBox {
    width: calc(100% - 40px);
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
}

.LeadsNav {
    width: 100%;
    padding: 0.78125vw 0;
    display: flex;
    flex-direction: column;
    gap: 0.78125vw;
}

.LeadsNav_chill {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.LeadsNav_chill_menuSelect {
    width: 8.28125vw;
    height: 1.40625vw;
    display: flex;
    gap: 0px;
    border-bottom: 0.1171875vw solid #C2CFE0;
}

.LeadsNav_chill_menuSelect button {
    width: 50%;
    height: 1.484375vw;
    font-size: 0.82vw;
    border: none;
    background: transparent;
    color: #C2CFE0;
    padding: 0;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-size: .6vw;
    line-height: 0.6328125vwpx;
    font-weight: 500;

}

.LeadsNav_chill_menuSelect .active {
    color: #005EEB;
    border-bottom: 0.1171875vw solid #005EEB;
    font-family: "Poppins", sans-serif;
    font-size: .6vw;
    line-height: 0.6328125vw;
    font-weight: 500;
}

.LeadsNav_chill_menuBar {
    display: flex;
    gap: 0.5859375vw;
}

.LeadsNav_chill_menuBar .search {
    width: 1.25vw;
    height: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #005EEB;
    background: transparent;
    border-radius: 0.1953125vw;
    color: #005EEB;
    font-size: 0.625vw;
}

.LeadsNav_chill_menuBar .filter {
    width: 5vw;
    height: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #005EEB;
    background: transparent;
    border-radius: 0.1953125vw;
    gap: 0.1953125vw;
    color: #005EEB;
    font-size: 0.46875vw;
    font-weight: 500;
    cursor: pointer;
}

.LeadsNav_chill_menuBar .creted {
    width: 5vw;
    height: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #005EEB;
    background: #005EEB;
    border-radius: 0.1953125vw;
    gap: 0.1953125vw;
    color: #FFFFFF;
    font-size: 0.625vw;
    font-weight: 500;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}

.select {
    display: flex;
    flex-direction: column;
}

.select button {
    width: 5.90625vw;
    height: 2vw;
    border-radius: 0.390625vw;
    color: #C2CFE0;
    border: 0.0390625vw solid #C2CFE0;
}

.select ul {
    width: 5.90625vw;
    background-color: #FFFFFF;
    border-radius: 0.390625vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    position: absolute;
    transform: translateY(20px);
}

.select ul li {
    width: 70%;
    font-size: 1vw;
    padding: 5px 10px;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 0.0390625vw solid #C2CFE0;
    color: #787878;
}

.filter .search {
    width: 1.8vw;
    height: 1.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #005EEB;
    background: transparent;
    border-radius: 0.1953125vw;
    color: #005EEB;
    font-size: 1vw;
}

.LeadsMain {
    width: 99%;
    height: 80vh;
    padding: 0.5859375vw 0.390625vw;
    background-color: #FFFFFF;
    display: flex;
    border-radius: 0.390625vw;
    gap: 0.78125vw;
}

.LeadsMain_table {
    width: 10.3515625vw;
    background-color: #F3F4F7;
    display: flex;
    gap: 0.5859375vw;
    flex-direction: column;
    padding: 0.5859375vw 0.390625vw;
    border-radius: 0.390625vw;
}

.LeadsMain_table .topBtn {
    height: 1.5625vw;
    background-color: #005EEB;
    border-radius: 0.390625vw;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0.2890625vw 0px #0000001F;
    font-size: 0.6640625vw;
}

.LeadsMain_table_lists {
    display: flex;
    flex-direction: column;
    gap: 0.390625vw;
}

.LeadsMain_table_list {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 0.390625vw;
    font-family: sans-serif;
}

.LeadsMain_table_list_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1953125vw 0.390625vw;
}

.LeadsMain_table_list_top p {
    color: #334D6E;
    font-size: 0.703125vw;
    font-weight: 500;
}

.LeadsMain_table_list_top button {
    border: none;
    background: transparent;
    color: #C2CFE0;
    font-size: 0.859375vw;
    padding-right: 0.5859375vw;
}

.LeadsMain_table_list_phone {
    display: flex;
    width: 5.15625vw;
    height: 0.78125vw;
    padding: 0px 0.1953125vw 0px 0.5078125vw;
    align-items: center;
    gap: 0.1171875vw;
    flex-shrink: 0;
    border-radius: 0px 0.1953125vw 0.1953125vw 0px;
    background: var(--Colors-Blue-Blue, #33A9FF);
}

.LeadsMain_table_list_phone p {
    color: var(--Colors-White, #FFF);
    font-family: "Poppins", sans-serif;
    font-size: 0.46875vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0046875vw;
}

.LeadsMain_table_list_menu {
    display: flex;
    border: none;
    background: none;
    padding: 0.390625vw;
}

.LeadsMain_table_list_menu div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.1953125vw;
}

.LeadsMain_table_list_menu button {
    background: none;
    border: none;
    display: flex;
    gap: 0.1953125vw;
    font-size: 0.5078125vw;
    color: #707683;
    display: flex;
    align-items: center;
}

.LeadsMain_table_list_menu button img {
    width: 0.78125vw;
    height: 0.78125vw;
    object-fit: cover;
}

.LeadsMain_table_list_menu button svg {
    font-size: 0.703125vw;
}

#summary {
    background-color: #334D6E;
}

.LeadsTable {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

table {
    width: 100%;
    height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.LeadsContent {
    width: 99%;
    height: auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 0 0.15625vw #ABBED199;
    border-radius: 0.546875vw;
    padding: 0 0.390625vw;
}

thead {
    width: 100%;
    height: 2.34375vw;
}

tbody {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

thead {
    width: 100%;
    height: 2.34375vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

thead tr th span {
    color: #192A3E;
    font-size: 0.546875vw;
    font-weight: 500;
    line-height: 0.7382812499999999vw;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
}


tr {
    width: 100%;
    height: 2.34375vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.0390625vw solid #EFF0F1;
    border-radius: 0.15625vw;
}

#content_Application:hover {
    width: 100%;
    height: 2.34375vw;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background-color: #E4F4FD;
    justify-content: space-between;
    border-bottom: 0.0390625vw solid transparent;
    border-radius: 0.15625vw;
}

tr:hover td span {
    color: #005EEB;
}

.selected {
    background-color: #E4F4FD;
}

.selected td span {
    color: #005EEB;
}

tbody tr td {
    width: 5.2734375vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    width: 5.2734375vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

td span,
th span {
    width: 5.2734375vw;
    font-size: 0.546875vw;
    color: #707683;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ShowButtons {
    display: flex;
    gap: 0.5859375vw;
}

.Make {
    width: 5vw;
    height: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #005EEB;
    background: transparent;
    border-radius: 0.1953125vw;
    gap: 0.1953125vw;
    background-color: #005EEB;
    color: #FFFFFF;
    font-size: 0.46875vw;
    font-weight: 500;
    cursor: pointer;
}

.Delete {
    width: 5vw;
    height: 1.25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.0390625vw solid #F7685B;
    background: transparent;
    border-radius: 0.1953125vw;
    gap: 0.1953125vw;
    background-color: #F7685B;
    color: #FFFFFF;
    font-size: 0.46875vw;
    font-weight: 500;
    cursor: pointer;
}


/* ========================================= Leads Card style ======================================= */


.LeadsCard {
    width: 550px;
    height: 600px;
    position: absolute;
    top: 20%;
    left: 40%;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 50px 25px #00000038;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.LeadsCardNav__closeBtn {
    position: absolute;
    right: 15px;
    top: 13px;
    border: none;
    outline: none;
    background: none;
    color: #C2CFE0;
    font-size: 15px;
}

.LeadsCardNavText {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LeadsCardNavText p {
    padding: 0;
    margin: 0;
    color: #90A0B7;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 18.9px;
}

.LeadsCardNavText h2 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: #334D6E;
    font-size: 25px;
    font-weight: 700;
    line-height: 33.75px;
}

.LeadsCard__menu {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.LeadsCard__menu button {
    width: 107px;
    height: 36px;
    font-size: 12px;
    line-height: 16.2px;
    letter-spacing: 1%;
    font-family: "Poppins", sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    color: #90A0B7;
    border-bottom: 2px solid #90A0B7;
    transition: .3s ease all;
    cursor: pointer;
}

.LeadsCard__menu button:hover {
    color: #000000;
    border-bottom: 2px solid #000000;
}

.menuChil_information {
    width: 434px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: safe;
    align-content: center;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-gap: 20px 35px;
    margin-top: 26px;
    margin-bottom: 50px;
}

.menuChil_information__chil {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 62px;
}

.menuChil_information__chil label {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    color: #334D6E;
    margin-bottom: 3px;
}

.menuChil_information__chil input {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid #C2CFE0;
    background: #fff;
    padding: 14.5px 20px;
    font-family: "Poppins", sans-serif;
}

.menuChil_information__chil select {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid #C2CFE0;
    background: #fff;
    padding: 14.5px 20px;
    font-family: "Poppins", sans-serif;
    color: #707683;
}

.menuChil_information__chil select option {
    width: 100%;
    height: 100%;
}

.LeadsCard_bottomBtns {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    transform: translateX(-30px);
    gap: 10px;
}

#save {
    width: 128px;
    height: 32px;
    border: 1px solid #005EEB;
    border-radius: 8px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background: #005EEB;
    color: #FFFFFF;
    cursor: pointer;
}









/* SMS  */


.menuChil_sms_messages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuChil_sms_message {
    width: 498px;
    height: 250px;
    border: 1px solid #EBEFF5;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    margin-top: 26px;
}

.menuChil_sms_message::-webkit-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}

.menuChil_sms_message::-webkit-scrollbar-track {
    background: #F6FAFF;
    border: 1px solid #E4EAF1;
    border-radius: 10px;
    /* цвет дорожки */
}

.menuChil_sms_message::-webkit-scrollbar-thumb {
    background-color: #B0C2DA;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 1px solid #E4EAF1;
}

.sms_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: auto;
    border-left: 1px solid #90A0B7;
    padding-left: 8px;
}

.sms_box_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sms_box_name h2 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #334D6E;
    line-height: 16.2px;
}

.sms_box_name p {
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #C2CFE0;
}

.sms_box_massage p {
    font-size: 12px;
    color: #707683;
    width: 400px;
}

.sms_box_sendtime p {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #C2CFE0;
}

.sms_border_box {
    width: 459px;
    height: 98px;
    display: flex;
    padding-top: 8.64px;
    padding-bottom: 8.65px;
    padding-left: 12.69px;
    padding-right: 13.9px;
    border: 1px solid #EBEFF5;
    border-radius: 8px;
}

.menuChil_sms_message_sendBtn {
    width: 414px;
    height: 48px;
    border-radius: 8px;
    background: #005EEB;
    margin-top: 12px;
    margin-bottom: 25px;
    border: none;
    color: #fff;
    outline: none;
}


.LeadsCard_bottomBtns button {
    width: 128px;
    height: 32px;
    border: 1px solid #90A0B7;
    border-radius: 8px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    background: none;
    color: #90A0B7;
    cursor: pointer;
}

.menuChil_sms_messagesSend {
    display: flex;
    flex-direction: column;
}

.menuChil_sms_messagesSend textarea {
    max-width: 500px;
    min-width: 500px;
    max-height: 250px;
    min-height: 250px;
    padding: 10px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.menuChil_sms_messagesSend_menuBtns {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}


.menuChil_sms_messagesSend_menuBtns button {
    border: 1px solid #005EEB;
    color: #005EEB;
    background: transparent;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menuChil_sms_messagesSend_endBtns {
    width: 100%;
    display: flex;
    gap: 20px;
}

.menuChil_sms_messagesSend_endBtns button {
    width: 50%;
    padding: 15px 0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menuChil_sms_messagesSend_endBtns button:nth-child(1) {
    border: 1px solid #005EEB;
    color: #005EEB;
    background-color: transparent;
    cursor: pointer;
}


.menuChil_sms_messagesSend_endBtns button:nth-child(2) {
    border: 1px solid #005EEB;
    color: white;
    background: #005EEB;
    cursor: pointer;
}


.newLeaadCardCon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.newLeaadCard {
    width: 550px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 34.9px 8px #00000038;
    border-radius: 15px;
    padding: 50px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.newLeaadCard__Head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #334D6E;
    letter-spacing: 1%;
    font-size: 18px;
    font-weight: 700;
}

.newLeaadCard__Head button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #C2CFE0;
    background: transparent;
    border: none;
    font-size: 28px;
    cursor: pointer;
}

.newLeaadCard__MenuBoxs {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.newLeaadCard__MenuBoxs .active {
    background-color: #005EEB;
    color: #FFFFFF;
    border-color: #005EEB;
}

.newLeaadCard__MenuBox {
    width: 160px;
    height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #E4E4E4;
    cursor: pointer;
}

.newLeaadCard__MenuBox svg {
    font-size: 52px;
    margin-bottom: 20px;
    color: #005EEB;
}

.newLeaadCard__MenuBoxs .active svg {
    color: #FFFFFF;
}

.newLeaadCard__MenuBox .newLeaadCard__MenuBox_title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.9px;
    color: #334D6E;
}

.newLeaadCard__MenuBox .newLeaadCard__MenuBox_text {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #90A0B7;
}

.newLeaadCard__MenuBoxs .active .newLeaadCard__MenuBox_title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18.9px;
    color: #FFFFFF;
}

.newLeaadCard__MenuBoxs .active .newLeaadCard__MenuBox_text {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #FFFFFF;
}

.newLeaadCard_paymentMenu {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}

.newLeaadCard_paymentMenu_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newLeaadCard_paymentMenu_title h2 {
    padding: 0;
    margin: 0;
    color: #334D6E;
    font-size: 16px;
    font-weight: 700;
}

.newLeaadCard_paymentMenu_title p {
    color: #90A0B7;
    font-weight: 400;
    line-height: 18.9px;
    letter-spacing: 1%;
    font-size: 14px;
}

.newLeaadCard_paymentMenu form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.newLeaadCard_paymentMenu form .serach {
    width: 440px;
    height: 45px;
    margin: 0 auto;
    border: 1px solid #C2CFE0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.newLeaadCard_paymentMenu form .serach svg {
    margin-left: 80px;
    color: #90A0B7;
}

.newLeaadCard_paymentMenu form .serach input {
    height: 90%;
    border: none;
    outline: none;
}

.newLeaadCard_paymentMenu form .serach input::placeholder {
    color: #90A0B7;
    font-size: 12px;
}

.newLeaadCard_paymentMenu form .select {
    width: 440px;
    margin: 0 auto;
}

.newLeaadCard_paymentMenu form .select label {
    font-size: 12px;
    color: #334D6E;
    margin-bottom: 5px;
}

.newLeaadCard_paymentMenu form .select select {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    color: #334D6E;
    border: 1px solid #C2CFE0;
    padding: 0 5px;
}

.newLeaadCard_paymentMenu form .dataSelect {
    width: 440px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.newLeaadCard_paymentMenu form .dataSelect div {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.newLeaadCard_paymentMenu form .dataSelect div label {
    font-size: 12px;
    color: #334D6E;
    margin-bottom: 5px;
}

.newLeaadCard_paymentMenu form .dataSelect div div {
    width: 212px;
    height: 45px;
    display: flex;
    flex-direction: row;
    border: 1px solid #C2CFE0;
    align-items: center;
    padding: 0;
    border-radius: 8px;
}

.newLeaadCard_paymentMenu form .dataSelect div div svg {
    padding: 0 10px;
    color: #334D6E;
}

.newLeaadCard_paymentMenu form .dataSelect div div input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.newLeaadCard_paymentMenu form .paymentType {
    width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.newLeaadCard_paymentMenu form .paymentType label {
    font-size: 12px;
    color: #334D6E;
    margin-bottom: 5px;
}

.newLeaadCard_paymentMenu form .paymentType div {
    display: flex;
    justify-content: space-between;
}

.newLeaadCard_paymentMenu form .paymentType div div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.newLeaadCard_paymentMenu form .paymentType div div label {
    color: #707683;
    font-size: 14px;
}

.newLeaadCard_paymentMenu form .paymentType div div input {
    margin-top: -3px;
}

.newLeaadCard_paymentMenu form .comment {
    width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.newLeaadCard_paymentMenu form .comment label {
    font-size: 12px;
    color: #334D6E;
    margin-bottom: 5px;
}

.newLeaadCard_paymentMenu form .comment textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 81px;
    max-height: 81px;
    border-radius: 8px;
    padding: 5px;
}

.newLeaadCard_paymentMenu form .comment textarea::placeholder {
    color: #334D6E;
}

.newLeaadCard_paymentMenu form .price {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.newLeaadCard_paymentMenu form .price div:nth-child(1) {
    font-size: 14px;
    color: #334D6E;
}

red {
    color: red;
}

.newLeaadCard_paymentMenu form .price div:nth-child(2) {
    display: flex;
    align-items: center;
    color: #0000007b;
    font-size: 14px;
    gap: 10px;
}

.footerBtns {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.footerBtns button:nth-child(1) {
    background: transparent;
    border: 1px solid #90A0B7;
    color: #90A0B7;
    border-radius: 7px;
    padding: 7px 20px;
    cursor: pointer;
}

.footerBtns button:nth-child(2) {
    color: white;
    border: none;
    border-radius: 7px;
    background: #005EEB;
    cursor: pointer;
    padding: 7px 20px;
}

.search_data {
    width: 75%;
    max-height: 200px;
    margin: 0 auto;
    position: absolute;
    transform: translateY(130px);
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.503);
    border-radius: 5px;
    overflow-y: auto;
}

.search_data div {
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    justify-content: space-around;
    cursor: pointer;
}

.search_data div:hover {
    background-color: #E4F4FD;
    border-radius: 5px;
}

.search_data div:hover p {
    color: black;
}

.search_data div p {
    font-size: 14px;
    color: #90A0B7;
}

/* new lead student add menu */

.newLeaadCard_studentMenu {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.newLeaadCard_studentMenu_title {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.newLeaadCard_studentMenu_title h2 {
    color: #334D6E;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.newLeaadCard_studentMenu_title p {
    color: #90A0B7;
    font-size: 14px;
}

.newLeaadCard_studentMenu_Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;
}

.newLeaadCard_studentMenu_Menu_btn1 {
    width: 210px;
    height: 60px;
    border: 1.5px solid #C2CFE0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    cursor: pointer;
    margin-top: 30px;
}

.newLeaadCard_studentMenu_Menu_btn1:hover {
    border: 1.5px solid #005EEB;
}

.newLeaadCard_studentMenu_Menu_btn1:hover svg {
    color: #005EEB;
}

.newLeaadCard_studentMenu_Menu_btn1 svg {
    color: #33A9FF;
    font-size: 28px;
}

.newLeaadCard_studentMenu_Menu_btn1:active {
    background: #005EEB;
}

.newLeaadCard_studentMenu_Menu_btn1:active p {
    color: white;
}

.newLeaadCard_studentMenu_Menu_btn1:active span {
    color: white;
}

.newLeaadCard_studentMenu_Menu_btn1:active svg {
    color: white;
}

.newLeaadCard_studentMenu_Menu_btn1_text p {
    color: #192A3E;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.newLeaadCard_studentMenu_Menu_btn1_text span {
    color: #192A3E;
    font-size: 10px;
    padding: 0;
    margin: 0;
}

.newLeaadCard_studentMenu_Menu_footerBtn {
    width: 104%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.newLeaadCard_studentMenu_Menu_footerBtn button {
    width: 128px;
    height: 32px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.newLeaadCard_studentMenu_Menu_footerBtn button:nth-child(1) {
    border: 1px solid #90A0B7;
    color: #90A0B7;
    background: transparent;
}

.newLeaadCard_studentMenu_Menu_footerBtn button:nth-child(2) {
    border: none;
    background: #005EEB;
    color: white;
}

.newLeaadCard_studentMenu1_chil {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 20px;
}

.newLeaadCard_studentMenu1_chil::-webkit-scrollbar {
    z-index: -999;
    display: none;
}

.newLeaadCard_studentMenu1_chil_form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}


.newLeaadCard_studentMenu1_chil_form div {
    width: 213px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.newLeaadCard_studentMenu1_chil_form div input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C2CFE0;
}

.newLeaadCard_studentMenu1_chil_form div input:focus {
    border: 2px solid #005EEB;
    outline: #005EEB;
}


.newLeaadCard_studentMenu1_chil_form div input {
    width: 213px;
    height: 45px;
}

.newLeaadCard_studentMenu1_chil_form div select {
    width: 213px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #C2CFE0;
    color: #707683;
}


.newLeaadCard_studentMenu1_chil_form div label {
    font-size: 10px;
}

.newLeaadCard_studentMenu1_chil_form div input[type=radio] {
    width: 20px;
    height: 20px;
}

.newLeaadCard_studentMenu1_chil_form_select {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.newLeaadCard_studentMenu1_chil_form_select .newLeaadCard_studentMenu1_chil_form_select_inputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newLeaadCard_studentMenu1_chil_form_select .newLeaadCard_studentMenu1_chil_form_select_inputs div {
    min-width: 213px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.newLeaadCard_studentMenu1_chil_form_select .newLeaadCard_studentMenu1_chil_form_select_inputs div label {
    font-size: 12px;
    color: #707683;
}

.newLeaadCard_studentMenu1_chil_form_select .newLeaadCard_studentMenu1_chil_form_select_check {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-top: -10px;
}

.newLeaadCard_studentMenu1_chil_form_select .newLeaadCard_studentMenu1_chil_form_select_check input[type=checkbox] {
    width: 15px;
}

.addCardInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border-top: 1px dashed #707683;
}

.addCardInfo1 {
    display: flex;
    flex-direction: column;
}

.addCardInfo1_chil label {
    font-size: 12px;
    color: #000;
}

.addCardInfo1_chil span {
    font-size: 12px;
    color: #707683;
}

.newLeaadCard_studentMenu_title p:nth-child(3) {
    color: #192A3E;
}

.serachGroup {
    display: flex;
    flex-direction: column;
}

.serachGroupInput {
    width: 440px;
    height: 45px;
    background: #F3F4F7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #90A0B7;
    gap: 5px;
}

.serachGroupInput input {
    height: 90%;
    border: none;
    outline: none;
    background: none;
}

.serachGroupInput svg {
    font-size: 16px;
}

.serachGroupInput input::placeholder {
    color: #90A0B7;
}

.serachGroupMenu {
    width: 100%;
    border: 2px solid #EBEFF5;
    border-radius: 10px;
    margin-top: 10px;
}

.serachGroupMenu_nav {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid #EBEFF5;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
}

.serachGroupMenu_nav span {
    display: flex;
    align-items: center;
}

.serachGroupMenu_nav span p {
    font-size: 12px;
    color: #707683;
}

.serachGroupMenu_nav svg {
    color: #C2CFE0;
    font-size: 18px;
    font-weight: 600;
}

.serachGroupMenu_nav span:nth-child(1) {
    width: 40%;
    justify-content: space-between;
}

.serachGroupMenu_nav span:nth-child(1) p {
    transform: translateX(30px);
}

.serachGroupMenu_nav span:nth-child(2) {
    width: 30%;
    justify-content: space-between;
}

.serachGroupMenu_nav span:nth-child(3) {
    width: 30%;
    justify-content: space-between;
    padding-right: 15px;
}

.serachGroupMenu_menu {
    max-height: 180px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Custom scrollbar styles */
.serachGroupMenu_menu::-webkit-scrollbar {
    width: 16px;
    /* Set the width of the scrollbar track */
}

.serachGroupMenu_menu::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    border: 1px solid #B0C2DA;
}

.serachGroupMenu_menu::-webkit-scrollbar-thumb {
    background: #B0C2DA;
    border-radius: 10px;
    border: 4px solid transparent;
    /* Creates space around the thumb */
    background-clip: content-box;
    /* Ensures the background color stays within the content area */
}

.serachGroupMenu_menu::-webkit-scrollbar-thumb:hover {
    background: #B0C2DA;
}

.serachGroupMenu_menu div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.serachGroupMenu_menu div:hover {
    background-color: #F3F4F7
}

.serachGroupMenu_menu div span {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 5px;
}

.serachGroupMenu_menu div span svg {
    color: #C2CFE0;
}

.serachGroupMenu_menu div span input {
    width: 25px;
    height: 25px;
}
.serachGroupMenu_menu div span input[type="radio"]:checked+label {
    color: red;
}
.serachGroupMenu_menu div span:nth-child(1) {
    width: 40%;
}

.serachGroupMenu_menu div span:nth-child(2) {
    width: 30%;
    padding-left: 5px;
}

.serachGroupMenu_menu div span:nth-child(3) {
    width: 30%;
}


.serachGroupMenu_menu div span p {
    font-size: 12px;
    color: #707683;
}


.newLeaadCard_studentMenu1_chil_form_select_check label {
    font-size: 12px;
    margin-top: 10px;
}

.newLeaadCard_studentMenu1_chil_form_select_check input {
    margin-top: 10px;
}

.newLeaadCard_studentMenu1_chil .serach {
    width: 440px;
    height: 45px;
    margin: 0 auto;
    border: 1px solid #C2CFE0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.newLeaadCard_studentMenu1_chil .serach svg {
    margin-left: 80px;
    color: #90A0B7;
}

.newLeaadCard_studentMenu1_chil  .serach input {
    height: 90%;
    border: none;
    outline: none;
}

.newLeaadCard_studentMenu1_chil .serach input::placeholder {
    color: #90A0B7;
    font-size: 12px;
}

.newLeaadCard_studentMenu1_chil .newLeaadCard_studentMenu1_chil_form_select {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.newLeaadCard_studentMenu1_chil .newLeaadCard_studentMenu1_chil_form_select label {
    font-size: 12px;
    color: #192A3E;
}